@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .about-text {
    background-position: 0 0;
    background-size: 200% 100%;
  }

  .hero-title {
    font-size: calc(16vw + 2.5vh);
    text-align: center;
  }

  .hero-text {
    font-size: calc(3vw + 1.2vh);
    text-align: center;
  }

  .about-text {
    font-size: calc(2vw + 2vh);
    font-weight: 600;
  }

  .h5 {
    @apply text-[18px] lg:text-[24px];
  }

  .fly-item {
    @apply absolute -z-10;
  }
}
