@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .about-text {
    background-position: 0 0;
    background-size: 200% 100%;
  }

  .container {
    @apply px-[3.58vw] sm:px-[3.1vw];
  }

  .title {
    font-size: 4.16vw;
  }

  .paragraph {
    @apply text-[3.58vw] sm:text-[1.25vw] text-GRAY font-medium;
  }

  .subtitle {
    @apply text-[3.54vw] sm:text-[0.9375vw];
  }

  .name {
    @apply text-[3.54vw] sm:text-[0.833vw];
  }

  .fly-item {
    @apply absolute -z-10;
  }

  .about-btn {
    @apply font-bold uppercase !text-[1.66vw] !p-[0.52vw];
  }

  .size18 {
    font-size: 0.9vw;
    font-weight: 500;
  }

  .h5 {
    @apply text-[4.05vw] sm:text-[0.93vw];
  }

  .size24 {
    font-size: 1.25vw;
  }

  .size40 {
    font-size: 2.08vw;
  }

  .size48 {
    font-size: 2.5vw;
  }

  .size64 {
    font-size: 3.33vw;
  }

  .size72 {
    font-size: 3.75vw;
  }

  .size80 {
    font-size: 4.16vw;
  }

  .size100 {
    font-size: 5.2vw;
  }

  .size160 {
    font-size: 8.3vw;
  }

  .size260 {
    font-size: 13.54vw;
  }

  .size360 {
    font-size: 18.5vw;
    text-align: center;
  }

  .mob16 {
    @apply text-[4.05vw];
  }
  .mob24 {
    @apply text-[6.15vw];
  }

  .scroll-lock {
    @apply overflow-hidden;
  }
}

.monument {
  font-weight: bold;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  line-height: 100%;
}
