@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .about-text {
    background-position: 0 0;
    background-size: 200% 100%;
  }

  .title {
    font-size: 4.16vw;
  }

  .subtitle,
  .name {
    font-size: 1.25vw;
  }

  .fly-item {
    @apply absolute -z-10;
  }

  .about-btn {
    @apply w-fit;
  }

  .size18 {
    font-size: 0.9vw;
    font-weight: 500;
  }

  .size24 {
    font-size: 1.25vw;
  }

  .size40 {
    font-size: 2vw;
  }

  .size64 {
    font-size: 3.33vw;
  }

  .size80 {
    font-size: 4vw;
  }

  .size160 {
    font-size: 8.3vw;
  }

  .size360 {
    font-size: 18.5vw;
    text-align: center;
  }
}
